.champion__grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2% 5%;
    &__card{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        transition-duration: 300ms;
        &__championimage{
            width: 100%;
        }
        & a{
            text-decoration: none;
        }
        & div{
            align-items: center;
            background-color: darken(#fff,10%);
            display: flex;
            flex-direction: row;
            position: relative;
            top: -3px;
            height: 50px;
            & p{
                color: black;
                font-size: 1.3rem;
                position: relative;
                text-decoration: none;
                width: 100%;
                left: -14px;
                text-align: center;
            }
        }
        &__classicon{
            width: 32px;
            margin: 0 5px;
        }
    }
    &__card:hover{
        transform: scale(1.2);
        transition-duration: 300ms;
    }
}

.card__nofiltered{
    opacity: 0.35;
}


