.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
  }
  
  .search-icon {
    color: black;
    position: relative;
    left: -30px;
  }